@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-font/Rubik-Regular.ttf');
}

body {
  background: #FAFAFA;
  /* background: #ccc; */
  overflow: hidden;
}

.tx-none:hover {
  text-decoration: none;
}

.font-rubik {
  font-family: 'Rubik';
}

.f-size {
  font-size: 12px;
}

.f-icon {
  font-size: 35px;
}

.f-icon-chat {
  cursor: pointer;
  font-size: 20px;
}

.colorLabel {
  color: #848484;
}

.cf-white {
  color: #fff;
}

.cf-second {
  color: #7E98DF
}

.bg-white {
  background: #fff;
}

.bg-second {
  background: #FAFAFA;
}

.bg-custom {
  background: #eee;
}

.bg-you {
  background: #7E98DF;
  padding: 20px 20px;
  text-align: justify;
}

.border-none {
  border: none;
}

.border-style {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.border-custom {
  border: none;
  border-radius: 20px;
}

/* .b-bottom {
  border-bottom: 1px solid #848484;
} */

.input-border {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn-custom {
  background: #7E98DF;
  border-radius: 50px;
  border: none;
}

.btn-outcustom {
  background: none;
  border-radius: 50px;
  border: 1px solid #7E98DF;
}

input.inputBorder {
  border-top: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 1px solid #232323;
}

.img-profile {
  width: 80px;
  height: 80px;
  border: 1px solid#848484;
  border-radius: 30px;
  cursor: pointer;
}

.img-profile-list {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.notif {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  font-size: 8px;
  background: #7E98DF;
  border-radius: 50%;
}

.t-blank {
  position: relative;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}